In [1]:
import pandas as pd
import numpy as np

In [2]:
try:
    df = pd.read_csv("GD_Data.csv", on_bad_lines="skip", encoding="utf-8")
    df.to_csv("cleaned_GD_data.csv", index=False)
    print("File cleaned and saved as cleaned_data.csv")
except Exception as e:
    print("Error:", e)

File cleaned and saved as cleaned_data.csv

In [3]:
pd.set_option('display.max_columns', None)
df.head()

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,5,31 Jan 2025,Great place to work and learn,Technical Architect,Current employee,more than 8 years,Chennai,Yes,Yes,Yes,Great place to work and learn,Benefits are less while comparing to others,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,28 Nov 2024,na,Technical Support Engineer,Current employee,NaN,Pune,Yes,Yes,Yes,"Global Presence and Brand Reputation, Career G...","Bureaucratic Challenges, Frequent Restructurin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,26 Jan 2025,Decent work culture and nice salary,Software Engineer,Current employee,more than 1 year,Bengaluru,Yes,Yes,Yes,"Team is good, Recognition for work, Engagement...","Projects are assigned rarely, Slow career grow...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,17 Jan 2025,Software Developer experience in IBM India Sof...,Software Developer,Current employee,more than 1 year,Cochin,Yes,Yes,Yes,"Good work culture, Work-life balance depends o...",Compensation varies based on college tier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,13 Jan 2025,For IBM TLS Department,IT Technical Specialist,Current employee,more than 3 years,Bangalore Rural,Yes,Yes,Yes,"Work culture, Flexible timing, Work-life balan...","Very low salary, Rare promotions, No salary in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
167,4,11 Jan 2025,Work Culture,Associate,Current employee,more than 1 year,Bangalore Rural,Yes,Yes,Yes,Best in comparison to Indian counterparts,Sometimes on call on holiday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,5,10 Jan 2025,SharePoint Developer,Sharepoint Developer,Former employee,more than 5 years,Bengaluru,Yes,Yes,Yes,"Work culture, Work-life balance",Hike percentage is less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,4,11 Jan 2025,Profile,Senior Software Engineer,Former employee,more than 5 years,Hyderābād,Yes,Yes,Yes,All good with this company,Nothing to mention,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2,26 Dec 2024,Not the Ideal Workplace,Software Engineer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Flexibility, Pay, Good company to settle down","Not ideal for working on cutting-edge tech, To...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,4,10 Jan 2025,IBM - Performance Analyst,Senior Software Analyst,Former employee,NaN,Bengaluru,Yes,Yes,Yes,Good work culture and management,Working on legacy systems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             172 non-null    int64
 1   Date               172 non-null    object
 2   Review Title       172 non-null    object
 3   Job Title          172 non-null    object
 4   Employment Status  172 non-null    object
 5   Employment Tenure  132 non-null    object
 6   Location           168 non-null    object
 7   Recommend          172 non-null    object
 8   CEO Approval       172 non-null    object
 9   Business Outlook   172 non-null    object
 10  Pros               172 non-null    object
 11  Cons               172 non-null    object
 12  Unnamed: 12        1 non-null      object
 13  Unnamed: 13        1 non-null      object
 14  Unnamed: 14        1 non-null      object
 15  Unnamed: 15        1 non-null      object
 16  Unnamed: 16        1 non-null      object
 17  Unnamed: 17        1 non-null      object
 18  Unnamed: 18        1 non-null      object
 19  Unnamed: 19        1 non-null      object
 20  Unnamed: 20        1 non-null      object
 21  Unnamed: 21        1 non-null      object
dtypes: int64(1), object(21)
memory usage: 29.7+ KB

In [6]:
not_null =df[df['Unnamed: 12'].notna()]
not_null

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
117,5,12 Jan 2025,Nice place to work,Anonymous Employee,Current employee,more than 3 years,Pune,Yes,Yes,Yes,"Hybrid work, Flexible timings, Good projects, ...","Nothing as such, overall good to work4.0",15 Jan 2025,Good,Automation Engineer,Current employee,Bengaluru,Yes,Yes,Yes,Good company to work for.,Managers can be very demanding.

In [7]:
not_null =df[df['Unnamed: 13'].notna()]
not_null

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
117,5,12 Jan 2025,Nice place to work,Anonymous Employee,Current employee,more than 3 years,Pune,Yes,Yes,Yes,"Hybrid work, Flexible timings, Good projects, ...","Nothing as such, overall good to work4.0",15 Jan 2025,Good,Automation Engineer,Current employee,Bengaluru,Yes,Yes,Yes,Good company to work for.,Managers can be very demanding.

In [8]:
df1 = df.drop(['Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21'],axis = 1)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             172 non-null    int64
 1   Date               172 non-null    object
 2   Review Title       172 non-null    object
 3   Job Title          172 non-null    object
 4   Employment Status  172 non-null    object
 5   Employment Tenure  132 non-null    object
 6   Location           168 non-null    object
 7   Recommend          172 non-null    object
 8   CEO Approval       172 non-null    object
 9   Business Outlook   172 non-null    object
 10  Pros               172 non-null    object
 11  Cons               172 non-null    object
dtypes: int64(1), object(11)
memory usage: 16.2+ KB

In [10]:
df1.head()

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons
0,5,31 Jan 2025,Great place to work and learn,Technical Architect,Current employee,more than 8 years,Chennai,Yes,Yes,Yes,Great place to work and learn,Benefits are less while comparing to others
1,1,28 Nov 2024,na,Technical Support Engineer,Current employee,NaN,Pune,Yes,Yes,Yes,"Global Presence and Brand Reputation, Career G...","Bureaucratic Challenges, Frequent Restructurin..."
2,4,26 Jan 2025,Decent work culture and nice salary,Software Engineer,Current employee,more than 1 year,Bengaluru,Yes,Yes,Yes,"Team is good, Recognition for work, Engagement...","Projects are assigned rarely, Slow career grow..."
3,5,17 Jan 2025,Software Developer experience in IBM India Sof...,Software Developer,Current employee,more than 1 year,Cochin,Yes,Yes,Yes,"Good work culture, Work-life balance depends o...",Compensation varies based on college tier
4,3,13 Jan 2025,For IBM TLS Department,IT Technical Specialist,Current employee,more than 3 years,Bangalore Rural,Yes,Yes,Yes,"Work culture, Flexible timing, Work-life balan...","Very low salary, Rare promotions, No salary in..."

In [11]:
print(df1.isnull().any(axis=1).sum())
print(df1['Employment Tenure'].isnull().sum())
print(df1['Location'].isnull().sum())

44
40
4

In [12]:
no_value = df1.loc[df1.isnull().any(axis=1)]

In [13]:
no_value

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons
1,1,28 Nov 2024,na,Technical Support Engineer,Current employee,NaN,Pune,Yes,Yes,Yes,"Global Presence and Brand Reputation, Career G...","Bureaucratic Challenges, Frequent Restructurin..."
16,3,30 Jan 2025,Sales at IBM,Technology Sales Specialist,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Good culture, helpful colleagues and good mana...",Organizational restructuring every year is a m...
18,4,28 Jan 2025,Good place to work,Scrum Master,Current employee,NaN,Bengaluru,Yes,Yes,Yes,Work-life balance will be good.,"Self-paced learning required, no hikes, need t..."
24,5,29 Jan 2025,Good place to work,Data Engineer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,Good work-life balance and good people to work...,Less pay and less increments.
26,2,30 Jan 2025,Not good,Technical Specialist,Former employee,NaN,Bengaluru,No,Yes,Yes,Work from home and brand name,"Poor management, doesn't think about employees."
30,4,29 Jan 2025,Salary,Software Developer,Former employee,NaN,Bengaluru,Yes,Yes,Yes,"Work from home, good project","Politics, no proper management, higher managem..."
34,4,28 Jan 2025,Good environment,Quality Assurance,Current employee,NaN,Cochin,Yes,Yes,Yes,Good working environment and learning opportun...,PIP program and lot of consistent organisation...
40,5,24 Jan 2025,Software Engineer,Software Engineer,Current employee,NaN,Bangalore Rural,Yes,Yes,Yes,"1st Round: Coding round on HackerRank, Face to...",Whole process is smooth and I didn’t face any ...
41,4,27 Jan 2025,Resource management,Resource Development Manager,Former employee,NaN,Bangalore Rural,Yes,Yes,Yes,Great work-life balance overall,Poor pay and lots of hierarchy.
44,5,23 Jan 2025,IBM have a good work culture and paying good s...,Security Analyst,Current employee,NaN,Pune,Yes,Yes,Yes,Managers and employees are very supportive and...,No disadvantages are there as working in IBM.
53,5,23 Jan 2025,Great place to work,Delivery Project Executive (DPE),Former employee,NaN,Bangalore Rural,Yes,Yes,Yes,Great place to work and good work-life balance.,Nothing in particular to complain of.
54,4,23 Jan 2025,Good For Career,SSE - Development,Former employee,NaN,Bengaluru,Yes,Yes,Yes,It’s a company where everyone should like to w...,No cons found.
58,3,22 Jan 2025,Decent Company,Software Associate,Former employee,NaN,Bengaluru,Yes,Yes,Yes,"Good hike %, you have mentors to track career ...","Work-life balance is not good, may have to wor..."
61,5,23 Jan 2025,Nice,Software Engineer,Current employee,NaN,Hyderābād,Yes,Yes,Yes,Good and work-life balance company.,We will get into comfort zone.
63,2,23 Jan 2025,Not a Great Place,Application Developer,Current employee,NaN,Hyderābād,Yes,Yes,Yes,Work from home opportunity is good.,"No hikes, Poor leadership, No career growth."
65,5,22 Jan 2025,Good,Test Specialist,Current employee,NaN,Bengaluru,Yes,Yes,Yes,For experience and for freshers it’s good comp...,Nothing much about cons in this company.
66,3,23 Jan 2025,Good,Associate Developer,Current employee,NaN,Bangalore Rural,Yes,Yes,Yes,"All good, it's based on project only.",It's purely depends on project.
72,4,14 Jan 2025,Salary,Fullstack Developer,Former employee,NaN,Bengaluru,Yes,Yes,Yes,You will have good learning as fresher.,As a fresher the pay is okay but once you gain...
73,4,20 Jan 2025,Good,Software Developer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"- Flexible, - Hybrid, - Flat hierarchy",Nothing bad about the company
75,5,13 Jan 2025,Good Work Culture,Applications Developer,Current employee,NaN,Mumbai,Yes,Yes,Yes,Good work environment and supporting team members,Nothing much just sometimes you need to give s...
76,5,16 Jan 2025,Good Work Life Balance,Applications Developer,Current employee,NaN,Pune,Yes,Yes,Yes,"Work life balance, chill company culture, upsk...","No salary growth, no perks like free food and cab"
77,4,15 Jan 2025,Quality Testing,Senior Quality Engineer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Work life balance is fine, Management follows ...",It is too big of a company to mark your footpr...
79,2,5 Nov 2024,Not Good for Band >=8,Application Architect,Current employee,more than 10 years,NaN,Yes,Yes,Yes,"Just ok for bands <=7, IBM 1 Now It's only som...",New joiners on band 8 or above don't survive f...
86,4,18 Jan 2025,Job Flexibility,Software Developer,Current employee,NaN,Cochin,Yes,Yes,Yes,Hybrid work culture,No free snacks provided by the company
89,2,14 Jan 2025,Not so Special,Delivery Associate,Former employee,NaN,Bengaluru,Yes,Yes,Yes,Technology learning scope if you started your ...,"Rampant fire of employees, Manager-based organ..."
90,5,12 Jan 2025,RPA Developer,Applications Developer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Very good company, Flexible timings, Good grow...","Hike is less, Sometimes layoffs are made suddenly"
91,4,9 Jan 2025,Joined IBM ISL,Qa Developer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Good leave benefit, Unlimited sick leave, Work...",Growth based on performance and how you stand ...
94,1,30 Dec 2024,Lack of Transparency in Employee Management,Software Engineer,Former employee,more than 3 years,NaN,Yes,Yes,Yes,Opportunity to work on cutting-edge technologi...,"Lack of clear communication, Sudden terminatio..."
96,1,17 Jan 2025,Good,Software Engineer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,Very good,Nothing as such
100,4,13 Jan 2025,Salary review,Application Developer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Work life balance, Great working environment",Less/No salary hikes in the organization
104,4,15 Jan 2025,Good Work Life Balance,Senior Technical Services Specialist,Current employee,more than 3 years,NaN,Yes,Yes,Yes,"Good work environment, Awesome work-life balance","No hike, Long time bench"
106,4,8 Jan 2025,Balanced Work Life,SAP ABAP Developer,Current employee,more than 3 years,NaN,Yes,Yes,Yes,"Never faced toxic work culture, Supportive wor...",Rarely get to work on implementation projects ...
107,3,9 Jan 2025,Slow growth rate. Less pay,Advisory Consultant,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Work-life balance, Nothing else","No new learning, Limited pay, Less exposure"
113,4,12 Jan 2025,No pressure work environment,Principal Consultant,Current employee,NaN,Hyderabad,Yes,Yes,Yes,"Relaxed work environment, Not much pressure","Growth is stagnant, Salary compensation below ..."
123,5,11 Jan 2025,Salary Review,Application Developer,Former employee,NaN,Noida,Yes,Yes,Yes,Work-life balance is good,Work from home is not good when team is away
124,4,13 Jan 2025,Front End,Senior Software Engineer,Current employee,NaN,Bangalore Rural,Yes,Yes,Yes,Good company working for Amat client,No major cons found
126,4,15 Jan 2025,Good,Automation Engineer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,Good company to work for.,Managers can be very demanding.
132,5,11 Jan 2025,Salary Review,Application Developer,Former employee,NaN,Noida,Yes,Yes,Yes,Work-life balance is good,Work from home is not good when team is away
133,4,13 Jan 2025,Front End,Senior Software Engineer,Current employee,NaN,Bangalore Rural,Yes,Yes,Yes,Good company working for Amat client,No major cons found
144,4,15 Jan 2025,Good,Automation Engineer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,Good company to work for.,Managers can be very demanding.
150,5,11 Jan 2025,Salary Review,Application Developer,Former employee,NaN,Noida,Yes,Yes,Yes,Work-life balance is good,Work from home is not good when team is away
151,4,13 Jan 2025,Front End,Senior Software Engineer,Current employee,NaN,Bangalore Rural,Yes,Yes,Yes,Good company working for Amat client,No major cons found
170,2,26 Dec 2024,Not the Ideal Workplace,Software Engineer,Current employee,NaN,Bengaluru,Yes,Yes,Yes,"Flexibility, Pay, Good company to settle down","Not ideal for working on cutting-edge tech, To..."
171,4,10 Jan 2025,IBM - Performance Analyst,Senior Software Analyst,Former employee,NaN,Bengaluru,Yes,Yes,Yes,Good work culture and management,Working on legacy systems

In [14]:
df1[['Employment Tenure','Location']] = df1[['Employment Tenure','Location']].fillna("Unknown")
df1.head()

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons
0,5,31 Jan 2025,Great place to work and learn,Technical Architect,Current employee,more than 8 years,Chennai,Yes,Yes,Yes,Great place to work and learn,Benefits are less while comparing to others
1,1,28 Nov 2024,na,Technical Support Engineer,Current employee,Unknown,Pune,Yes,Yes,Yes,"Global Presence and Brand Reputation, Career G...","Bureaucratic Challenges, Frequent Restructurin..."
2,4,26 Jan 2025,Decent work culture and nice salary,Software Engineer,Current employee,more than 1 year,Bengaluru,Yes,Yes,Yes,"Team is good, Recognition for work, Engagement...","Projects are assigned rarely, Slow career grow..."
3,5,17 Jan 2025,Software Developer experience in IBM India Sof...,Software Developer,Current employee,more than 1 year,Cochin,Yes,Yes,Yes,"Good work culture, Work-life balance depends o...",Compensation varies based on college tier
4,3,13 Jan 2025,For IBM TLS Department,IT Technical Specialist,Current employee,more than 3 years,Bangalore Rural,Yes,Yes,Yes,"Work culture, Flexible timing, Work-life balan...","Very low salary, Rare promotions, No salary in..."

In [15]:
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')

In [16]:
df1['Recommend'] = df1['Recommend'].map({'Yes': 1, 'No': 0})
df1['CEO Approval'] = df1['CEO Approval'].map({'Yes': 1, 'No': 0})
df1['Business Outlook'] = df1['Business Outlook'].map({'Yes': 1, 'No': 0})

In [17]:
df1.head()

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons
0,5,2025-01-31,Great place to work and learn,Technical Architect,Current employee,more than 8 years,Chennai,1,1,1,Great place to work and learn,Benefits are less while comparing to others
1,1,2024-11-28,na,Technical Support Engineer,Current employee,Unknown,Pune,1,1,1,"Global Presence and Brand Reputation, Career G...","Bureaucratic Challenges, Frequent Restructurin..."
2,4,2025-01-26,Decent work culture and nice salary,Software Engineer,Current employee,more than 1 year,Bengaluru,1,1,1,"Team is good, Recognition for work, Engagement...","Projects are assigned rarely, Slow career grow..."
3,5,2025-01-17,Software Developer experience in IBM India Sof...,Software Developer,Current employee,more than 1 year,Cochin,1,1,1,"Good work culture, Work-life balance depends o...",Compensation varies based on college tier
4,3,2025-01-13,For IBM TLS Department,IT Technical Specialist,Current employee,more than 3 years,Bangalore Rural,1,1,1,"Work culture, Flexible timing, Work-life balan...","Very low salary, Rare promotions, No salary in..."

In [18]:
from textblob import TextBlob

In [19]:
def get_sentiment(text):
    return TextBlob(text).sentiment.polarity

df1['Pros_Sentiment'] = df1['Pros'].apply(get_sentiment)
df1['Cons_Sentiment'] = df1['Cons'].apply(get_sentiment)

In [20]:
df1.head()

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons,Pros_Sentiment,Cons_Sentiment
0,5,2025-01-31,Great place to work and learn,Technical Architect,Current employee,more than 8 years,Chennai,1,1,1,Great place to work and learn,Benefits are less while comparing to others,0.800000,-0.166667
1,1,2024-11-28,na,Technical Support Engineer,Current employee,Unknown,Pune,1,1,1,"Global Presence and Brand Reputation, Career G...","Bureaucratic Challenges, Frequent Restructurin...",0.000000,0.060714
2,4,2025-01-26,Decent work culture and nice salary,Software Engineer,Current employee,more than 1 year,Bengaluru,1,1,1,"Team is good, Recognition for work, Engagement...","Projects are assigned rarely, Slow career grow...",0.700000,-0.150000
3,5,2025-01-17,Software Developer experience in IBM India Sof...,Software Developer,Current employee,more than 1 year,Cochin,1,1,1,"Good work culture, Work-life balance depends o...",Compensation varies based on college tier,0.700000,0.000000
4,3,2025-01-13,For IBM TLS Department,IT Technical Specialist,Current employee,more than 3 years,Bangalore Rural,1,1,1,"Work culture, Flexible timing, Work-life balan...","Very low salary, Rare promotions, No salary in...",0.166667,0.150000

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             172 non-null    int64
 1   Date               170 non-null    datetime64[ns]
 2   Review Title       172 non-null    object
 3   Job Title          172 non-null    object
 4   Employment Status  172 non-null    object
 5   Employment Tenure  172 non-null    object
 6   Location           172 non-null    object
 7   Recommend          172 non-null    int64
 8   CEO Approval       172 non-null    int64
 9   Business Outlook   172 non-null    int64
 10  Pros               172 non-null    object
 11  Cons               172 non-null    object
 12  Pros_Sentiment     172 non-null    float64
 13  Cons_Sentiment     172 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(7)
memory usage: 18.9+ KB

In [23]:
new = df[df1['Date'].isnull()]
new

,Rating,Date,Review Title,Job Title,Employment Status,Employment Tenure,Location,Recommend,CEO Approval,Business Outlook,Pros,Cons,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
28,3,24 Sept 2024,Good benefits,everything else really depends on what projec...,Package Specialist SAP BW,Former employee,more than 3 years,Yes,Yes,Yes,"Good benefits such as EPF, health insurance etc.","Internal politics, No transparent procedure fo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,3,11 Sept 2024,Mixed Bag,Senior System Analyst,Current employee,more than 3 years,Bengaluru,Yes,Yes,Yes,"Good client opportunities, Free Udemy courses,...","Low yearly raise, Forced to work on sick leave...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df1.loc[28,'Date'] =  pd.to_datetime("2024-09-24")

In [31]:
df1.loc[95, 'Date'] = pd.to_datetime("2024-09-11")

In [ ]:
df1.loc[28]

Rating                                                               3
Date                                               2024-09-11 00:00:00
Review Title                                                 Mixed Bag
Job Title                                        Senior System Analyst
Employment Status                                     Current employee
Employment Tenure                                    more than 3 years
Location                                                     Bengaluru
Recommend                                                            1
CEO Approval                                                         1
Business Outlook                                                     1
Pros                 Good client opportunities, Free Udemy courses,...
Cons                 Low yearly raise, Forced to work on sick leave...
Pros_Sentiment                                                    0.55
Cons_Sentiment                                               -0.230612
Name: 95, dtype: object

In [35]:
df1.loc[95]

Rating                                                               3
Date                                               2024-09-11 00:00:00
Review Title                                                 Mixed Bag
Job Title                                        Senior System Analyst
Employment Status                                     Current employee
Employment Tenure                                    more than 3 years
Location                                                     Bengaluru
Recommend                                                            1
CEO Approval                                                         1
Business Outlook                                                     1
Pros                 Good client opportunities, Free Udemy courses,...
Cons                 Low yearly raise, Forced to work on sick leave...
Pros_Sentiment                                                    0.55
Cons_Sentiment                                               -0.230612
Name: 95, dtype: object

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             172 non-null    int64
 1   Date               172 non-null    datetime64[ns]
 2   Review Title       172 non-null    object
 3   Job Title          172 non-null    object
 4   Employment Status  172 non-null    object
 5   Employment Tenure  172 non-null    object
 6   Location           172 non-null    object
 7   Recommend          172 non-null    int64
 8   CEO Approval       172 non-null    int64
 9   Business Outlook   172 non-null    int64
 10  Pros               172 non-null    object
 11  Cons               172 non-null    object
 12  Pros_Sentiment     172 non-null    float64
 13  Cons_Sentiment     172 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(7)
memory usage: 18.9+ KB

In [38]:
df1.to_csv("cleaned_GD_data.csv", index=False)